
/*reset de chaque début de projet*/

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Général*/

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}


/*Navigation*/

.nav-gauche{
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #f1f1f1;
    z-index: 5;
}

.blocs-menu{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.blocs-menu span{
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.blocs-menu span a {
    text-decoration: none;
    color: #f1f1f1;
}

.blocs-menu span::after{
    content : "" ;
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: #aaa;
    transition: all 0.2s ease-out;
}
.blocs-menu span:hover::after{
    width: 100%;
}

/*Portrait*/

.blocs-menu:nth-child(1){
    width: 100%;
    height: 25%;
    background: #333;
}
.cercle-portrait {
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    box-shadow: 26px 26px 53px #292929,
                -26px -26px 53px #3d3d3d;

}
.cercle-portrait img{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo-cercle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.logo-cercle img {
    width: 60px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%,-50%);
}
