
/*reset de chaque début de projet*/

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*-------------------------GENERAL-----------------------------------------*/

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}


/*------------------------- NAVIGATION-----------------------------------------*/

.nav-gauche{
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #f1f1f1;
    z-index: 5;
    transition: all 0.2s ease-in-out;
}

.blocs-menu{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.blocs-menu span{
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.blocs-menu span a {
    text-decoration: none;
    color: #f1f1f1;
}

.blocs-menu span::after{
    content : "" ;
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: #aaa;
    transition: all 0.2s ease-out;
}
.blocs-menu span:hover::after{
    width: 100%;
}

/*-------------------------PORTRAIT-----------------------------------------*/

.blocs-menu:nth-child(1){
    width: 100%;
    height: 25%;
    background: #333;
}
.portrait {
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    box-shadow: 26px 26px 53px #292929,
                -26px -26px 53px #3d3d3d;

}
.portrait img{
    width: 150px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo-cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.logo-cercle img {
    width:50px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
}

/*------------------------MEDIA PORTRAIT 1300PX -----------------------------------------*/

@media screen and (max-width: 1300px) {
    .nav-gauche {
      /*  display: none;*/
        left: -300px!important;
        width: 250px;
        min-height: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-visible{
        left: 0px!important;
    }
    .blocs-menu:nth-child(1){  /*c'est la partie 1*/
        display: none;
    }
    .blocs-menu:nth-child(7){ /*c'est la partie 7*/
        display: none;
    }

    .btn-rond-menu {
        width: 70px;
        height: 70px;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
        background: #333333;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
    }

    .conteneur-ligne {
        width: 36px;
        height: 36px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ligne-unique {
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ligne-unique::before {
        content: '';
        position: absolute;
        bottom: 10px;
        background: #f1f1f1;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }
    .ligne-unique::after {
        content: '';
        position: absolute;
        top: 10px;
        background: #f1f1f1;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }

    /*----------------------------    Animation des barres -------------------------------*/
    .conteneur-ligne.active .ligne-unique::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease;
    }

    .conteneur-ligne.active .ligne-unique {
        background: transparent;
    }

    .conteneur-ligne.active .ligne-unique::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms ease, transform 300ms 300ms ease;
    }
}

/*-------------------------SECTION ACCUEIL-----------------------------------------*/

.accueil{
    background-size: cover;
    background: url(../../image/accueil.jpg) no-repeat right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1{
    font-size: 60px;
    font-family: 'Abril Fatface', sans serif ;
    margin: 0 60px;
    padding-top: 100px;
}
h4{
    font-size: 25px;
    font-family: 'Abril Fatface', sans serif ;
    margin: 0 60px;
    padding: 30px;
}
.text-animation{
    font-size: 20px;
    margin: 10px 0 10px 60px;
}

span{
    color: chocolate;
}
.btn-accueil{
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0  0 ;
    border-radius: 2px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}
.btn-accueil:hover{
  /*  transform: scale(1.10);*/
    background-color: chocolate;
}
.btn-accueil1{
    margin: 10px 0 0 60px;
}
.btn-accueil2{
    background: transparent;
    border: 2px solid black;
    color: black;
}

.btn-accueil2{
    font-weight: 700;
}
.medias{
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media2{
    background: transparent;
    border: 2px solid #333;
}

.btn-rond {
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}


@keyframes pulse {
    to{
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }
}


.img-thumbnail{
    width: 50px;
    margin: 5px;
}

/*------------------------MEDIA ACCUEIL 1300PX -----------------------------------------*/

@media screen and (max-width: 1300px){
    .accueil{
        width: 100%;
        background-position: center ;
    }
}
@media screen and (max-width: 1000px){
    .accueil{
        width: 700px;
        min-height: 0 ;
    }
    h1{
        font-size: 70px;
        margin: 0 30px 0 30px ;
        padding-top: 100px;
    }
    .accueil p {
        margin: 20px 0 20px 30px;
    }
    .btn-accueil1{
        margin: 10px 0 0 30px;
    }
    .media{
        margin-left: 30px;
    }
    .btn-rond{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .accueil{
        height: 600px;
    }
    h1{
        font-size: 50px;
        margin: 0 30px;
    }
    .accueil p{
        font-size: 20px;
    }
    .btn-rond-menu{
        width: 60px;
        height: 60px;
    }
}


@media screen and (max-width: 500px){
    h1{
        font-size: 35px;
    }
    .accueil p {
        font-size: 16px;
    }
    .btn-accueil{
        width: 120px;
        font-size:13px;
        height: 40px;
        margin: 10px 0 0 5px;
    }
    .btn-accueil1{
        margin: 10px 0 0 30px;
    }
    .media{
        width: 40px;
        height: 40px;
    }
    .icone-medias{
        width: 20px;
    }
}

@media screen and (max-width: 450px) {
    .btn-rond-menu{
        width: 50px;
        height: 50px;
    }
    .conteneur-ligne{
        width: 20px;
        height: 38px;
    }
    .ligne-unique{
        height: 3px;
    }
    .ligne-unique::before{
        bottom: 8px;
        height: 3px;
    }
    .ligne-unique::after{
        bottom: 8px;
        height: 3px;
    }
    .accueil{
        height: 500px;
    }
    h1{
        margin: 0 30px 0 5px ;
        padding-top: 120px;
    }
    .accueil p{
        margin: 30px 0 0 5px;
    }
    .btn-accueil{
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 5px;
    }
    .medias{
        margin-top: 30px;
        margin-left: 5px;
    }
    .icone-medias{
        width: 20px;
    }
}

@media screen and (max-width: 380px)  {
    .bienvenue{
        font-size: 15px!important;
    }
    .text-animation {
        font-size: 13px !important;
    }

}

@media screen and (max-width: 370px) {
    .bienvenue {
        font-size: 15px !important;
    }

    .text-animation {
        font-size: 12px !important;
    }

}

/*-------------------------SECTION PRESENTATION-----------------------------------------*/

.presentation {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed #03639B;
    border-bottom: 1px dashed #03639B;
    color: #e7e7e7;
}

.font-couleur {
    background: #485563 linear-gradient(to right, #29323c, #485563);
    width: 2300px;
    height: 1000px;
    position: absolute;
    transform: rotate(-45deg) translateX(100px) translateY(-15px);
    z-index: -1;
}

.titre-presentation {
    font-size: 40px;
    text-align: center;
    margin: 50px 0 70px 0;
    padding-left: 300px;
    text-transform: uppercase;
}

.container-presentation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 130px 0;
    flex-shrink: 0;
    padding-left: 300px;
}

.presentation-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;
}

.presentation-gauche h3 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    color: chocolate;
}
.presentation-gauche h5 {
    text-align: center;
    font-size: 25px;
}

.presentation-gauche hr {
    width: 60px;
    margin: 10px auto 30px auto;
}

.presentation-gauche p {
    text-align: justify;
    text-indent: 10%;
}

.presentation-droite {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}

.liste-presentation {
    list-style-type: none;
    padding: 10px 0 50px 110px;
}

.chiffre-style {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
}

.txt-liste {
    font-size: 27px;
    display: inline;
}

/*---------------------------------Media Présentation------------------------------*/
@media screen and (max-width: 1300px) {
    .container-presentation {
        padding-left: 0px;
    }

    .titre-presentation {
        padding-left: 0px;
    }
}

@media screen  and (max-width: 1100px) {
    .font-couleur {
        width: 100%;
        height: 150%;
        transform: rotate(0) translateY(0) translatex(0);
    }

    .titre-presentation {
        margin: 0 0 20px 0;
        padding-top: 50px;
    }

    .container-presentation {
        flex-direction: column;
    }

    .presentation-gauche {
        width: 80%;
        flex-shrink: 1;
        margin-bottom: 10px;
        padding: 20px 0;
    }

    .presentation-gauche h3 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .presentation-gauche h5 {
        font-size: 20px;

    }

    .presentation-gauche p {
        font-size: 16px;
    }

    .presentation-droite {
        width: 80%;
        flex-shrink: 1;
    }

    .liste-presentation {
        padding: 0 0;
    }
}

@media screen and (max-width: 700px ) {
    .container-presentation {
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .titre-presentation{
        font-size: 24px;
        margin: 0 10px ;
    }

    .chiffre-style {
        font-size: 30px;
    }

    .text-animation {
        font-size: 17px;
    }

}

/*-------------------------SECTION PORTFOLIO-----------------------------------------*/

portfolio {
    width: 100%;
}
.titre-port {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    padding-left: 300px;
}

.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
    margin: 20px;
    width: 420px;
    height: 500px;
    background: #f0f2f0;
    color: #333;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
}
.item:hover {
    transform: translateY(-5px);
}
.cont-img-port {
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
}
.cont-img-port img {
    width: 50%;
    height: auto;
    margin: 50px;
}
